<ion-content>

    <ion-slides class="mainSlide" #slidePrincipal>
  
      <ion-slide>
   
          <ion-grid fixed>
  
            <ion-row>
            <ion-col>
                <h3>Seleccione Avatar</h3>
            </ion-col>
            </ion-row>
  
            <ion-row>
            <ion-col>
                <ion-slides [options]="avatarSlide">
                <ion-slide *ngFor="let avatar of avatars">
                    <img class="pick-avatar" 
                            src="{{avatar.img}}"
                            [ngClass]="{'pick-avatar-seleccionado': avatar.seleccionado}"
                            (click)="seleccionarAvatar(avatar)"><img>
                </ion-slide>
                </ion-slides>
            </ion-col>
            </ion-row>
        
            <form (ngSubmit)="registrar_usuario(fRegistroUsuario)" #fRegistroUsuario="ngForm">
                <ion-row>
                    <ion-col>
                        
                        <ion-list>
                            
                            <ion-item color="transparent">
                            <ion-label>Email    </ion-label>
                            <ion-input  name="email" 
                                        type="email"
                                        [(ngModel)] = "registerUser.email"
                                        required></ion-input>
                            </ion-item>
  
                            <ion-item color="transparent">
                            <ion-label>Nombre   </ion-label>
                            <ion-input  name="nombre"
                                        type="text"
                                        [(ngModel)] = "registerUser.username"
                                        required></ion-input>
                            </ion-item>
  
                            <ion-item color="transparent">
                            <ion-label>Password     </ion-label>
                            <ion-input  name="password"
                                        type="password"
                                        [(ngModel)] = "registerUser.password"
                                        required></ion-input>
                            </ion-item>
  
                        </ion-list>
                    </ion-col>
                </ion-row>
                
                <ion-row>
                <ion-col>
                    <ion-button type="submit"
                                color="dark"
                                shape="round">
                        Crear Usuario
                    </ion-button>
                </ion-col>
            </ion-row>
            
            </form>
        </ion-grid>
  
      </ion-slide>
  
      
      <ion-slide>

        <ion-grid fixed>
  
        
            <form (ngSubmit)="registrar_empresa(fRegistroEmpresa)" #fRegistroEmpresa="ngForm">
                <ion-row>
                    <ion-col>
                        
                        <ion-list>
                            
                            <ion-item color="transparent">
                            <ion-label>Email    </ion-label>
                            <ion-input  name="email" 
                                        type="email"
                                        [(ngModel)] = "registerEmpresa.email"
                                        required></ion-input>
                            </ion-item>
  
                            <ion-item color="transparent">
                            <ion-label>Nombre   </ion-label>
                            <ion-input  name="nombre"
                                        type="text"
                                        [(ngModel)] = "registerEmpresa.username"
                                        required></ion-input>
                            </ion-item>
  
                            <ion-item color="transparent">
                            <ion-label>Password     </ion-label>
                            <ion-input  name="password"
                                        type="password"
                                        [(ngModel)] = "registerEmpresa.password"
                                        required></ion-input>
                            </ion-item>
                            <ion-item color="transparent">
                                <ion-button routerLink="/cargamasiva"
                                            color="dark"
                                            expand="full"
                                            shape="round">
                                    Carga masiva
                                </ion-button>
                            </ion-item>
  
                        </ion-list>
                    </ion-col>
                </ion-row>
                
                <ion-row>
                <ion-col>
                    <ion-button type="submit"
                                color="dark"
                                shape="round">
                        Crear Empresa
                    </ion-button>
                </ion-col>
            </ion-row>
            
            </form>
        </ion-grid>

      </ion-slide>

      <ion-slide>

        <ion-grid fixed>
  
            <ion-row>
            <ion-col>
                <h3>¡Bienvenido!</h3>
            </ion-col>
            </ion-row>
  
            <ion-row>
                <ion-col class="center">
                    <img class="pick-avatar-seleccionado" 
                    src="/assets/avatars/av-2.png">
                </ion-col>
            </ion-row>

            <form id="loginform" (ngSubmit)="login(fLogin)" #fLogin="ngForm">
                <ion-row>
                    <ion-col>
                        
                        <ion-list>
                            
                            <ion-item color="transparent">
                            <ion-label>Email     </ion-label>
                            <ion-input id="logname"  name="logname" 
                                        type="email"
                                        [(ngModel)] = "loginUser.email"
                                        required></ion-input>
                            </ion-item>
  
                            <ion-item color="transparent">
                            <ion-label>Password     </ion-label>
                            <ion-input  id="logpass"  name="logpass"
                                        type="password"
                                        [(ngModel)] = "loginUser.password"
                                        required></ion-input>
                            </ion-item>
  
                        </ion-list>
                    </ion-col>
                </ion-row>
                
                <ion-row>
                <ion-col>
                    <ion-button id="iniciarsesion" type="submit"
                                color="dark"
                                shape="round">
                        Iniciar Sesion
                    </ion-button>
                </ion-col>
            </ion-row>
            
            </form>
        </ion-grid>
  
      </ion-slide>
    </ion-slides>
  
  </ion-content>
  
  
  <ion-footer no-border>
    <ion-toolbar >
      
      <ion-row>
  
        <ion-col>
            <ion-button shape="round"
                        expand="full"
                        size="small"
                        color="primary"
                        (click)="mostrarLogin()">
              Ingresar
            </ion-button>
        </ion-col>
  
        <ion-col>
          <ion-button shape="round"
                      expand="full"
                      size="small"
                      color="primary"
                      (click)="mostrarRegistro()">
            {{textButton}}
          </ion-button>
        </ion-col>
  
      </ion-row>
  
  
  
    </ion-toolbar >
</ion-footer>