.mainSlide, .mainSlide{
    width: 100%;
    height: 100%;
    background-color: blue;
    background-image: linear-gradient(to bottom right, rgb(3, 47, 180), rgb(31, 168, 168) , white);  
}

ion-item{
    background-color: transparent;
}

ion-list{
    background-color: transparent;
}

ion-toolbar{
    background-color: black;
}

ion-col.center {
  text-align: center;
}

img {
    width: 120px;
}

.pick-avatar {
    width: 80px;
    opacity: 0.3;
}

.pick-avatar-seleccionado {
    transition: opacity 0.5s linear; 
    opacity: 1 !important;
}