<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lista_productos"></ion-back-button>
    </ion-buttons>
    <ion-title>Nuevo producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-row justify-content-center align-items-center style="height: 90%">
    <ion-col >
      <ion-card >
        <ion-card-content>
          <ion-label class="lb-font">Nombre del producto</ion-label>
          <ion-input type="text" placeholder="Monitor lcd 2"  autofocus="true" required="true" #name value={{producto.nombre}} ></ion-input>
          <ion-label class="lb-font">Precio</ion-label>
          <ion-input type="number" placeholder="1200.00" required="true" #price value={{producto.precio}}></ion-input>
          <ion-label class="lb-font">Cantidad</ion-label>
          <ion-input type="number" placeholder="8" required="true" #amount value={{producto.cantidad}}></ion-input>
          <ion-button color="tertiary" expand="block" (click)="edit ? updateProducto(name,price,amount) : saveProduct(name,price,amount)" class="padd">
            Guardar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>