<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home-cliente"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides class="mainSlide" #slidePrincipal>

    <ion-slide>

      <ion-grid fixed>

        <ion-row>
          <ion-col>
              <h3>Seleccione Avatar</h3>
          </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
                <ion-slides [options]="avatarSlide">
                <ion-slide *ngFor="let avatar of avatars">
                    <img class="pick-avatar" 
                            src="{{avatar.img}}"
                            [ngClass]="{'pick-avatar-seleccionado': avatar.seleccionado}"
                            (click)="seleccionarAvatar(avatar)"><img>
                </ion-slide>
                </ion-slides>
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-col class="center">
                  <img class="pick-avatar-seleccionado" 
                  [src]=User.avatar>
              </ion-col>
          </ion-row>

          <form (ngSubmit)="modificarUsuario(fModificar)" #fModificar="ngForm">
              <ion-row>
                  <ion-col>
                      
                      <ion-list>
                          
                          <ion-item color="transparent">
                          <ion-label>Email     </ion-label>
                          <ion-input  name="name" 
                                      type="email"
                                      [(ngModel)] = "User.email"
                                      disabled="true"
                                      required></ion-input>
                          </ion-item>

                          <ion-item color="transparent">
                          <ion-label>Password     </ion-label>
                          <ion-input  name="password"
                                      [(ngModel)] = "User.password"
                                      required></ion-input>
                          </ion-item>

                      </ion-list>
                  </ion-col>
              </ion-row>
              
              <ion-row>
              <ion-col>
                  <ion-button type="submit"
                              color="primary"
                              shape="round">
                    Modificar Usuario
                  </ion-button>
              </ion-col>
          </ion-row>
          
          </form>
      </ion-grid>

    </ion-slide>
  </ion-slides>

</ion-content>
