<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-empresa"></ion-back-button>
    </ion-buttons>
    <ion-title>Listar Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row">
    <div class="col-md-4" *ngFor="let producto of productos">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Cantidad en stok: {{producto.cantidad}}   
                  
                 <a [routerLink]="['/producto/editar', producto.idProducto]" class="button button-dark">Editar</a>
                 
                </ion-card-subtitle>
          <ion-card-title>{{producto.nombre}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p> Q. {{producto.precio}}</p>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div>
                  <ion-button color="danger" (click)="deleteProducto(producto.idProducto)">
                  Eliminar
                  </ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

    </div>
  </div>

</ion-content>