<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Home Empresa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor = "let product of productos">
      <ion-item>
        <ion-label>
          <h2>{{product.nombre}}</h2>
          <h3>Cantidad en stok: {{product.cantidad}}</h3>
          <h3>Precio: Q. {{product.precio}}</h3>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" [routerLink]="['/producto/editar', product.idProducto]"><ion-icon name="create"></ion-icon></ion-item-option>
        <ion-item-option color="danger" (click)="deleteProducto(product.idProducto)"><ion-icon name="trash"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="addProduct()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>