.tarjetaHome {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}

.imagenHome {
  height: 200px;
  width: 200px;
  align-self: center !important;
}
