<ion-content>
  
  <ion-slides id="slides" pager="true" class="slide-full">

    <ion-slide *ngFor="let slide of slides">  

      <ion-card mode="ios">

        <img [src]="slide.img" class="slide-image">

        <ion-card-header>
          <ion-card-title color="light" class="titulo-slide"> {{slide.titulo}} </ion-card-title>
        </ion-card-header>

        <ion-card-content>
         <ion-label color="light" class="titulo-desc">{{slide.desc}}</ion-label>
        </ion-card-content>

      </ion-card>

    </ion-slide>

    <ion-slide>

      <ion-grid>
        <ion-row justify-content-center> 
          <ion-card mode="ios" class="my-ion-card">

            <img src="/assets/slides/team.svg" class="slide-image2">
    
            <ion-card-header>
              <ion-card-title color="light" class="titulo-slide"> Empresa </ion-card-title>
            </ion-card-header>
    
            <ion-card-content>
             <ion-button  color="light" 
                          expand="full" 
                          fill="outline"
                          (click)="registrar_empresa()">
               Registrarse
              </ion-button>
            </ion-card-content>
    
          </ion-card>
    
          <ion-card mode="ios" class="my-ion-card">
    
            <img src="/assets/slides/feedback.svg" class="slide-image2">
    
            <ion-card-header>
              <ion-card-title color="light" class="titulo-slide"> Cliente </ion-card-title>
            </ion-card-header>
    
            <ion-card-content>
              <ion-button color="light" 
                          expand="full" 
                          fill="outline" 
                          (click)="registrar_usuario()">
                Registrarse
              </ion-button>
             </ion-card-content>
     
          </ion-card>    
        </ion-row>

        <ion-row justify-content-center>
          <ion-label color="dark">¿Tienes cuenta?</ion-label>
        </ion-row>

        <ion-row justify-content-center>
          <ion-button id="iniciarsesion" expand="block"
                      (click)="iniciar_sesion()">
            Inicia Sesión
          </ion-button>
        </ion-row>

      </ion-grid>
      
    </ion-slide>

  </ion-slides>

</ion-content>
