ion-slides {
    height: 100%;
}

.slide-full {
    background-color: blue;
    background-image: linear-gradient(to bottom right, rgb(3, 47, 180), rgb(31, 168, 168) , white);  
}

ion-card {
    overflow: unset !important;
}

.my-ion-card{
    width: 60%;
    height: 60%;
}

.slide-image2 {
    width: 40%;
    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: -50px;
}

ion-card {
    width: 80%;
}

.slide-image {
    width: 50%;
    text-align: center;

    display: block;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: -50px;
}

ion-card-header {
    position: relative;
    top: -50px;
}

ion-card-content {
    position: relative;
    top: -50px;
}

.titulo-slide{
    font-size: 22px;
    font-family: Verdana;
    font-weight: 800;
}

.titulo-desc {
    font-size: 15px;
    font-family: Verdana;
}

